.container {
	font-size: 16px;
	font-family: 'helveticaneuecyrroman';
	color: #828282;
	border-top: 1px solid #d8dfe6;
	text-align: left;
	min-height: 183px;
	max-width: 1600px;
	padding-top: 50px;
	padding-bottom: 20px;
	background: #ffffff;
	overflow: hidden;

	a {
		color: inherit;
		line-height: 20px;
	}

	:global {
		.nav {
			display: block;
			text-align: left;

			li {
				margin-bottom: 5px;
			}
		}
	}
}


.customerSupport {
	margin-top: 28px;
}

.supports {
	display: flex;
	align-items: center;

	:global {
		a {
			text-decoration: none;
			display: inline-block;
			margin-right: 20px;
		}
	}
}

.logo {
	display: block;
	margin-top: -15px;
	margin-bottom: 23px;
}

.phone {
	font-size: 26px;
	font-family: 'helveticaneuecyrlight';
}

.support {
	margin-top: 20px;
}

.copyright {
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}

.supportLink {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.supportLinkIcon {
	width: 21px;
	height: 16px;
	margin-right: 10px;
}

.phone {
	margin-bottom: 10px;
}

.timeOpen {
	line-height: 20px;
}


@media (min-width: 576px) {
	.container {
		padding-left: 275px;
	}
}
