@import '../../config/styles.config.styl';
@require '~@devexperts/react-kit/dist/components/Menu/Menu.styl';

.container {
	background-color: $dropdown-list-bg;
}

.item,
.itemGroup__header {
	cursor: default;
	transition: get-transition(color, background-color);
	&:hover {
		background-color: $dropdown-list-item-hover;
	}
	&:active {
		color: $dropdown-list-text-selected;
	}
}

.item {
	&_active {
		color: $dropdown-list-text-selected;
	}
}

.item,
.itemGroup__header {
	&__content {
		line-height: 1.2;
		padding: 10px 15px;
		display: flex;
		align-items: center;
	}
}
