.container {
	background-color: #27b031;
	display: flex;
	align-items: center;
	font-size: 18px;
	flex-wrap: wrap;
	color: #fff;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 20px 20px 0 0;
	min-height: 99px;
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
}

.buttons {
	z-index: 2;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: relative;
	top: 0;
	left: 0;
	right: 0;
	transform: none;
	width: 100%;
}


.label {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.count {
	font-size: 30px;
	font-family: 'helveticaneuecyrlight';
}

.buttons {

}

.selected {
	margin-right: 0;
	margin-bottom: 15px;
	&:before {
		content: none
	}
}

@media all and (min-width: 1700px) {
	.container {
		justify-content: center;
	}

	.buttons {
		position: absolute;
		width: auto;
		left: 15px;
		right: 15px;
		z-index: 2;
		height: 55px;
		top: 50%;
		transform: translateY(-50%);
	}

	.selected {
		margin-right: 100px;
		margin-bottom: 0;
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 5px;
			height: 5px;
			background-color: #fff;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%) translateY(5px);
			left: -10px;
		}
	}
}
