$card-border-radius = 10px;

.container {
	position: relative;
	/*width: 350px;*/
	flex-shrink: 0;
	border-radius: $card-border-radius;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	/*&:not(:last-child) {
		margin-right: 30px;
	}*/

	&_isCustom {
		border-color: #27b031;

		.body {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.body {
	font-size: 18px;
	flex-grow: 1;
	font-family: 'helveticaneuecyrroman';
	text-align: left;
	padding-left: 46px;
	padding-right: 46px;
	padding-top: 55px;
	padding-bottom: 50px;
}


.header {
	text-align: center;
	background-color: #f8f9fb;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'helveticaneuecyrMedium';
	box-sizing: border-box;
	font-size: 24px;
	position: relative;
	line-height: 35px;

	&:first-child {
		border-radius: $card-border-radius $card-border-radius 0 0;
	}
}

.footer {
	text-align: center;
	border-top: 0;
	background-color: transparent;

	&:last-child {
		border-radius: 0 0 $card-border-radius $card-border-radius;
		/*padding-bottom: 30px;*/
	}

	button {
		width: 160px;
	}
}
