$default-transition-time = .2s;
$default-transition-easing = ease;

get-transition($args...) {
	$result = '';

	for $arg, $i in $args {
		if $i != 0 {
			$result += ', ';
		}

		$result = $result + $arg + ' ' + $default-transition-time + ' ' + $default-transition-easing;
	}

	return unquote($result)
}

@keyframes slide-in-from-top {
	from {
		transform: translateY(-5px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slide-in-from-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes scale {
	from {
		transform: scale(1.15, 1.15);
	}
	to {
		transform: scale(1, 1);
	}
}

make-animation($names...) {
	animation-name: $names;
	animation-duration: $default-transition-time;
	animation-timing-function: $default-transition-easing;
}
