.container {
	display: flex;
	font-size: 15px;
	color: #2c2c2c;
	align-items: center;
	margin-right: 40px;
	font-family: 'helveticaneuecyrmedium';
	margin-bottom: 20px;

	&_isDisabled {
		color: #999999;

		.label:after {
			background-color: #999999;
		}
	}
}

.label {
	position: relative;
	&:after {
		content: '';
		display: block;
		height: 1px;
		left: 0;
		right: 0;
		bottom: -2px;
		background-color: #2c2c2c;
	}
}


.marker {
	width: 27px;
	height: 27px;
	border-radius: 27px;
	position: relative;
	display: inline-block;
	border: 1px solid #27b031;
	font-size: 16px;
	color: #fff;
	margin-right: 35px;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translateY(-50%);
		height: 1px;
		width: 23px;
	}

	&_isCurrent {
		background-color: #27b031;
		display: flex;
		align-items: center;
		justify-content: center;

		&:after {
			background-color: #27b031
		}
	}

	&_isCompleted {
		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) translateY(-1px);
		}
		&:after {
			background-color: #27b031
		}
	}

	&_isDisabled {
		border-color: #e6e6e6;
		&:after {
			background-color: #e6e6e6;
		}
	}
}

