@import '../../config/styles.config.styl';
@require '~@devexperts/react-kit/dist/components/Button/Button.styl';

.container {
	cursor: pointer;
	border-radius: 4px;
	border: 0;
	height: 45px;
	font-size: 16px;
	color: inherit;
	font-family: 'helveticaneuecyrroman';
	padding: 5px 10px;

	&:focus,
	&:active {
		outline: none;
	}

	&_flat {
		padding-left: 0;
		padding-right: 0;
	}


	&:disabled {
		background-color: rgba(255, 255, 255, 0.5);
		border: solid 1px rgba(0, 0, 0, 0.1);
		color: rgba(#00395c, 0.5);
		box-shadow: none;
	}

	&_primary {
		background-color: #27b031;
		border: 0;
		color: #ffffff;

		&:hover {
		  @media screen {
			background-color: darken(#27b031, 2);
		  }
		}
		/*&:hover {
			@media screen {
				background-color: #006a9d;
				box-shadow: 0 1px 6px 0 rgba(0, 72, 107, 0.6);
				border: solid 1px rgba(0, 0, 0, 0.4);
			}
		}

		&:active {
			@media screen {
				background-color: #005178;
				border: solid 1px rgba(0, 0, 0, 0.2);
				box-shadow: none;
			}
		}*/

		&:disabled {
			background-color: #b3d8ea;
			border: solid 1px rgba(0, 0, 0, 0.1);
			color: rgba(#ffffff, 0.8);
			box-shadow: none;
		}
	}

	&_isBlock {
		width: 100%;
	}

	&_isExtra {
		background-color: #fff;
		color: #27b031;
		border: 1px solid #27b031;
	}

}

:global(.isSafari) .container {
	transition: get-transition(color, opacity, background-color, border-color);
}
