.container {
	border-color: #27b031;
	max-height: 380px;
	width: 332px;
	margin-right: 30px;
}

.body {
	padding-top: 22px;
	padding-left: 22px;
	padding-right: 22px;
}

.footer {
	padding-bottom: 30px;
}
