

.body {

}

.row {
	display: flex;
	flex-grow: 1;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
}

.label {
	margin-left: 15px;
	padding-right: 65px;
	font-size: 20px;
	font-family: 'helveticaneuecyr';
	font-weight: 300;
	color: #2c2c2c;
}

.price {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(212, 211, 211);
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	width: 57px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 5px 5px 5px 0;
	color: #d4d3d3;
}

.summary {
	display: flex;
	flex-grow: 1;
	align-items: center;
	position: relative;
	padding-top: 25px;
	font-size: 22px;
	font-family: 'helveticaneuecyrmedium';

	&:before {
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		left: -20px;
		right: -20px;
		top: 0;
		background: #eee;
	}

	.label {
		margin-left: 0;
		font-size: 18px;
		flex-grow: 1;
	}
}
