.container {
	background: #fff;
	border: 1px solid #e1e1e1;
	border-top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.totalSelected {
	font-family: 'helveticaneuecyr';
	font-weight: 300;
	font-size: 18px;
	color: #2c2c2c;
	margin-bottom: 0;
}

.singlePrice {
	color: #999898;
	font-family: 'helveticaneuecyrmedium';
	font-size: 16px;
	margin-right: 10px;
	font-weight: normal;
}


.total {
	text-align: right;
	font-size: 20px;
	display: flex;
	line-height: 1;
	justify-content: flex-end;
	flex-direction: column;

	> div:first-child {
		margin-bottom: 10px;
	}
}


.totalPrice {
	font-size: 44px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
	white-space: nowrap;
}

.totalCurrency {
	font-weight: bold;
}

.totalSign {
	display: none;
}


@media (min-width: 1200px) {
	.total {
		flex-direction: row;
		align-items: center;
		white-space: nowrap;

		> div:first-child {
			margin-bottom: 0;
		}
	}

	.totalSign {
		display: inline-block;
		margin-left: 10px;
	}
}
