@import '../../config/styles.config.styl';
@require '~@devexperts/react-kit/dist/components/input/Input.styl';

$input-border = rgb(208, 218, 227);
$input-text = #2c2c2c;

.container {
	display: inline-block;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 14px;
	line-height: 28px;

	border-width: 1px;
	border-style: solid;
	border-color: $input-border;

	border-radius: 4px;
	box-shadow: 0 1px 6px 0 $input-shadow;
	color: $input-text;
	background-color: #ffffff;
	height: 45px;
	transition: get-transition(color, background-color, box-shadow, border-color);

	&:hover {
		border-color: $input-border-hover;
	}

	&_isFocused,
	&_isFocused:hover {
		border-color: $input-border-focus;
	}

	&[disabled],
	&_isDisabled {
		&,
		&:focus,
		&.container_isFocused,
		&.container_isFocused:hover,
		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
			border-color: $input-border-disabled;
			box-shadow: none;
			color: rgba(#000000, 0.5);
		}
	}

	&_hasError {
		&,
		&:active,
		&:focus,
		&.container_isFocused,
		&:hover {
			border-color: $input-border-error;
		}
	}
}

.input {
	line-height: inherit;
	vertical-align: top;
	background-color: transparent;
	border: none;
	padding: 0 9px;
	outline: none;
	box-shadow: none;
	height: 100%;
	width: 100%;

	&::placeholder {
		color: $input-hint;
		user-select: none;
	}
}

:global(.isSafari) .container {
	transition: get-transition(color, background-color, border-color);
}
