.container {
	display: flex;
	align-items: center;
	position: relative;
	top: -3px;
}

.icon {
	margin-right: 14px;
}

.anchorInner {
	display: flex;
	align-items: center;
	color: #27b031;
	font-size: 18px;
}

.toggleIcon {
	margin-left: 10px;
	transform: translateY(-4px);
}

.metrics {
	padding: 20px;

	li {
		margin-bottom: 7px;
	}
}
