.container {
	padding-bottom: 20px;
	:global {
		.alert {
			margin-left: -30px;
			margin-right: -30px;
			margin-top: 20px;

			padding: 20px 30px;
		}
	}
}

.list {
	margin-left: -10px;
}

.package {
	font-size: 18px;
	margin-bottom: 20px;

	&Title {
		position: relative;
		margin-bottom: 20px;
		padding-left: 20px;

		&:before {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			position: absolute;
			left: 0;
			top: 8px;
			border-radius: 50%;
			background: #27b031;
		}

	}

	&Price {
		margin-bottom: 20px;
		padding-left: 20px;

		mark {
			font-size: 30px;
			font-weight: 600;
		}
	}
}
