.item {
	background: #fff;
	padding: 15px;
	border: 1px solid #e1e1e1;
	padding-left: 50px;
	position: relative;
	line-height: 1.2;
	display: flex;
	flex-direction: column;

	+ .item {
		margin-top: -1px;
	}
}
