.container {
	white-space: nowrap;
	border-radius: 5px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 27px;
	min-width: 95px;
	text-align: center;
	color: #fff;

	&_pandingPayment {
		background-color: #febd00;
		border-radius: 20px;
	}

	&_prepare {
		background-color: #2288e2;
		border-radius: 20px;
	}

	&_pay {
		background-color: #27b031;
	}

	&_ready {
		border: 1px solid #27b031;
		color: #27b031;
	}
}

