@require '~config';

.container {
	padding-top: 60px;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	padding-bottom: 150px;
}

.wrapper {
	padding-left: $grid-gutter-width;
	padding-right: $grid-gutter-width;
}

.breadcrumbs {
	:global {
		.breadcrumb {
			font-size: 18px;

		}
		.breadcrumb-item {
			a {
				color: #27b031;
			}
			+ .breadcrumb-item::before {
				content: none;
			}

			img {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}
}

.pageTitle {
	font-size: 44px;
	font-family: 'helveticaneuecyrlight';
	margin-bottom: 20px;
}

.steps {
	display: flex;
	flex-wrap: wrap;
}

.steps {
	margin-bottom: 20px;
}

.content {
	line-height: 25px;
	font-size: 16px;

/*	p:first-of-type {
		margin-bottom: 30px;
	}*/

	h2 {
		margin-bottom: 30px;
		font-size: 20px;
	}
}
