.item {
	background: #fff;
	padding: 15px;
	border: 1px solid #e1e1e1;

	+ .item {
		margin-top: -1px;
	}
}

.body {
	margin-left: 5px;
	flex-grow: 1;
	line-height: 1;

	:global {
		.row {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
