@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'helveticaneuecyr';
	src: url('helveticaneuecyr-bold-webfont.woff2') format('woff2'),
	url('helveticaneuecyr-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'helveticaneuecyr';
	src: url('helveticaneuecyr-light-webfont.woff2') format('woff2'),
	url('helveticaneuecyr-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('helveticaneuecyr-medium-webfont.woff2') format('woff2'),
    url('helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'helveticaneuecyr';
	src: url('helveticaneuecyr-medium-webfont.woff2') format('woff2'),
	url('helveticaneuecyr-medium-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
