.container {
	display: flex;
	align-items: center;
	line-height: 1;
}

.anchorInner {
	display: flex;
	align-items: center;
}

.toggleIcon {
	width: 11px;
	height: 11px;
	margin-left: 8px;
	olor: #27b031;
}

.selected {
	display: flex;
	align-items: center;
	flex-direction: row;
	line-height: 1;
}

.label {
	font-family: 'helveticaneuecyr';
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #999898;
	margin-top: 5px;
	order: 1;
}

.of {
	color: #2c2c2c;
	font-size: 16px;
	font-family: 'helveticaneuecyr';
	font-weight: 600;
	margin-right: 10px;
	white-space: nowrap;
	order: 0;
}


@media (min-width: 1200px) {

	.container {
		align-items: flex-start;
	}

	.selected {
		flex-direction: column;
		align-items: flex-start;
	}

	.label {
		order: 0;
		margin-top: 0;
	}

	.of {
		margin-right: 0;
		margin-top: 5px;
	}
}
