.container {
	background: #fff;
	border: 1px solid #e1e1e1;
	border-top: 0;
	padding-top: 20px;
	margin-bottom: 20px;
}

.totalSelected {
	font-family: 'helveticaneuecyr';
	font-weight: 300;
	font-size: 18px;
	color: #2c2c2c;
	margin-bottom: 0;
}

.singlePrice {
	color: #999898;
	font-family: 'helveticaneuecyrmedium';
	font-size: 16px;
	font-weight: normal;
}


.total {
	text-align: right;
	font-size: 20px;
	display: flex;
	line-height: 1.2;
	white-space: nowrap;
	justify-content: flex-end;
	flex-direction: column;
}


.totalPrice {
	font-size: 44px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
	white-space: nowrap;
}

.totalCurrency {
	font-weight: bold;
}

@media (min-width: 992px) {
	.total {
		flex-direction: row;
		align-items: center;
	}

}
