.container {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.icon {
	margin-right: 14px;
}

.anchorInner {
	display: flex;
	align-items: center;
	color: #2c2c2c;
	font-size: 16px;
}

.toggleIcon {
	margin-left: 12px;
	transform: translateY(-4px);
}

.accountIcon {
	width: 24px;
	color: #27b031;
}
