make-grid-column($columns, $size, $gutter = 5px) {
	box-sizing: border-box
	flex: 0 0 100%
	max-width: 100%
	padding-left: $gutter;
	padding-right: $gutter;

	flex-grow: 1;
	flex-basis: 0;
	width: (100 / $columns * $size) %;
	flex: none;
}

make-grid-column-offset($columns, $offset) {
	margin-left: (100 / $columns * $offset) %;
}
