@import '../config/styles.config.styl';

:global {
	* {
		box-sizing: border-box;
	}

	html {
		font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
		font-size: 14px;
		touch-action: manipulation;
		-webkit-tap-highlight-color: transparent;
	}

	body {
		font-family: 'helveticaneuecyrroman';
	  	line-height: normal;
	}

	#root {
		-webkit-overflow-scrolling: touch;
	}

	mark {
		padding: 0;
		color: #27b031;
		background-color: transparent;
	}

	.container.withTransform {
		transform: translate(0, 0);
	}
}
