.item {
	margin-bottom: 10px;

	&_index {
		display: none;
	}

	&_isChecked {
		margin-bottom: 0;
		position: absolute;
		left: 12px;
		top: 15px;
	}
}

.commentItem {
	display: flex;
	align-items: center;

	:global {
		.q-icon {
			fill: #999898;
			margin-right: 15px;
			width: 24px;
			height: 24px;
		}
	}
}

@media (min-width: 992px) {
	.item {
		&_status {
			margin-bottom: 50px;
		}

		&_comment {
			position: absolute;
			left: 0;
			bottom: -10px;
			padding: 10px 0 20px 50px;
			right: 0;
			background-color: #f5f9fa;
		}
	}

	.commentItem {
		:global {
			.q-icon {
				fill: #e3f2e8;
				position: absolute;
				right: 15px;
				top: 10px;
			}
		}
	}

}

