$card-border-radius = 10px;

.container {
	position: relative;
	width: 276px;
	flex-shrink: 0;
	border-radius: $card-border-radius;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	&:not(:last-child) {
		margin-right: 30px;
	}

	&_isCustom {
		border-color: #27b031;

		.body {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.priceValue {
	font-size: 44px;
	color: #27b031;
	font-family: 'helveticaneuecyrMedium';
}

.body {
	font-size: 18px;
	flex-grow: 1;
	font-family: 'helveticaneuecyrroman';
	text-align: left;
	padding-left: 46px;
	padding-right: 46px;
	padding-top: 55px;
	padding-bottom: 50px;

	ul li {
		& + li {
			margin-top: 20px;
		}
		position: relative;
		padding-left: 20px;

		&:before {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			position: absolute;
			border-radius: 50%;
			background-color: #27b031;
			transform: translateY(-50%);
			top: 50%;
			left: 0;
		}
	}
}


.header {
	text-align: left;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 25px;
	padding-right: 25px;
	font-family: 'helveticaneuecyrlight';
	box-sizing: border-box;
	font-size: 30px;
	position: relative;
	line-height: 35px;

	&:first-child {
		border-radius: $card-border-radius $card-border-radius 0 0;
	}
}

.discount {
	background-color: rgb(255, 188, 0);
	position: absolute;
	width: 85px;
	height: 45px;
	font-size: 24px;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box
	padding-right: 10px;
	align-items: center;
	right: 0;
	line-height: 1px;
	border-radius: 5px 0 0 5px;
	top: -10px;
}

.footer {
	text-align: left;
	border-top: 0;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 40px;
	color: #e9e9e9;
	position: relative;
	padding-left: 30px;
	background-color: transparent;
}
