.container {
	background: #fff;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border: 1px solid #e1e1e1;
	border-radius: 0 0 10px 10px;
	border-top: 0;
}

.control {
	margin-right: 15px;
}
