.header {
	background-color: #27b031;
	color: #fff;
	display: flex;
	align-items: center;
	font-family: 'helveticaneuecyrlight';
	font-size: 24px;
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
	justify-content: space-between;
	line-height: 1;
}

.body {
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}

.count {
	font-size: 44px;
	color: #27b031;
}

.countLabel {
	font-size: 24px;
	margin-top: 20px;
	color: #2c2c2c;
}

.formControl {
	text-align: left;
	position: relative;
	margin-top: 20px;
	font-family: 'helveticaneuecyrlight';
	padding-left: 40px;
}

.checkbox {
	position: absolute;
	left: 0;
}
