@import '../../config/styles.config.styl';
@require '~@devexperts/react-kit/dist/components/Selectbox/Selectbox.styl';
@require '~@devexperts/react-kit/dist/components/Selectbox/Selectbox.mixin.styl';

Selectbox(container, 10px, 5px, 10px, 5px);

.container {
	&__anchor {
		box-shadow: none;
		color: #515151;
		background-color: #fff;
		border: solid 1px #d0dae3;

		i {
			display: flex;
			height: 100%;
		}

		&__content {
			height: 100%;
			display: flex;
			align-items: center;

			&_hasCaret {
				padding-right: 25px;

				.container__anchor__caret {
					top: 50%;
					width: 15px;
					color: #999999;
					transform: translateY(-50%);
					transition: get-transition(transform);

					&_isReversed {
						@media screen {
							transform: translateY(-50%) rotate(180deg);
						}
					}
				}
			}
		}
	}

	&__menu {
		display: flex;
		padding: 5px 0;
		border-radius: 4px;
		flex-direction: column;
		background-color: $dropdown-list-bg;

		@media print {
			display: none;
		}
	}

	&__item {
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 16px;

		&:hover {
			background-color: #f8f9fb;
		}

		&_isActive {
			background-color: #27b031;
			color: #fff;
		}
	}

	&_isOpened {
		&, &:hover {
			@media screen {
				color: $dropdown-text-active;
				background-color: $dropdown-bg-active;
				border: solid 1px $dropdown-border-active;
			}

			.container__anchor__caret {
				@media screen {
					color: $dropdown-arrow-active;
				}
			}
		}
	}
}
