.item {
	margin-bottom: 10px;

	&_number {
		font-weight: bold;
		font-size: 20px;
	}

	&_square {
		display: none;
	}

	&_index {
		display: none;
	}

	&_isChecked {
		margin-bottom: 0;
		position: absolute;
		left: 12px;
		top: 15px;
	}
}

@media (min-width: 992px) {
	.item {
		&_status {
			margin-bottom: 50px;
		}

		&_comment {
			position: absolute;
			left: 0;
			bottom: -10px;
			padding: 10px 0 20px 50px;
			right: 0;
			background-color: #f5f9fa;
		}
	}

}

