.inner {
	display: flex;
	align-items: center;
	line-height: 1;

	&_next {
		flex-direction: row-reverse;

		.icon {
			transform: rotate(-90deg);
			margin-left: 5px;
		}
	}
}
.icon {
	width: 12px;
	margin-right: 5px;
	transform: rotate(90deg);
}
