@import '../config/styles.config.styl';
@require '~@devexperts/react-kit/dist/components/Popup/Popup.styl';

.backdrop {
	position: fixed;
	display: flex;
	z-index: 100;
	&_isModal {
		background-color: rgba(#000, .3);
		&.backdrop_closeOnClickAway {
			cursor: default;
			user-select: none;
		}
	}
}

.body {
	background-color: inherit;
	line-height: 1.4;
}

.header {
	color: #27b031;
	font-family: 'helveticaneuecyrlight';
	font-size: 35px;
	position: relative;
	padding-top: 20px;
	margin-bottom: 20px;
}

.footer {
	padding: 0;
	margin-top: 20px;
}

.container {
	margin: auto;
	box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.44), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	background-color: #ffffff;
	overflow: hidden;
	color: #2c2c2c;
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
	min-width: 320px;
	position: absolute;
	padding-bottom: 20px;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	max-width: 860px;
}

.headerContent {
	display: flex;
	align-items: center;
}

.buttonClose {
	position: absolute;
	right: -20px;
	top: 0;
	color: #000;
}
