@import '../../config/styles.config.styl';

.container {
	padding-left: 23px;
	width: 230px;
	height 30px;

	&_isDisabled .icon {
		color: $input-icon-disabled;
	}
}

.icon {
	color: $input-icon;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 6px;
	left: 7px;
}

.input {
	width: 100%;
}
