.container {
	display: flex;
	line-height: 1;
	align-items: flex-start;
}

.icon {
	width: 19px;
	height: 20px;
	margin-right: 5px;
}

/*@media (min-width: 992px) {
	.container {
		max-width: 300px;
	}
}*/
