.container {
	display: inline-flex;
	align-items: center;
	background: #ffbc00;
	height: 31px;
	color: #fff;
	margin-left: 25px;
	position: relative;
}

.back {
	position: absolute;
	right: -25px;
	top: -1px;

	svg {
		height: 31px;
		width: 145px;
	}

	path {
		fill: #ffbc00;
	}
}

.label {
	position: relative;
	z-index: 2;
	font-size: 14px;
	padding-left: 13px;
}
