@import '../../config/styles.config.styl';
@require '~@devexperts/react-kit/dist/components/icon-wrapper/icon-wrapper.component.styl';

.container {
	&,
	& svg {
		color: inherit;
		fill: currentcolor;
		transition: get-transition(opacity, visibility, transform);
	}
}
