.container {
	margin-top: 20px;
}

.controls {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;

	button {
		margin-left: 30px;
		fill: #27b031;
	}
}

.metrics {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.adress {
	font-size: 24px;
	margin-bottom: 50px;
	position: relative;
	display: flex;
}

.adressIcon {
	width: 16px;
	margin-right: 10px;
	color: #27b031;
}

.item {
	margin-right: 35px;
	margin-bottom: 50px;
}

.title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #7c7c7c;
}

.value {
	font-size: 21px;
	font-family: 'helveticaneuecyrmedium'
	color: #2c2c2c;
}
