.container {
	max-width: 100%;
	width: calc(50% - 5px);
	overflow: hidden;

	&:nth-child(2n) {
		margin-left: 10px;
	}
}

.body {
	position: relative;
	padding: 10px;
	min-height: 140px;
	font-size: 16px;

	small {
		display: block;
		margin-top: 10px;
		font-size: 12px;
		text-transform: uppercase;
		line-height: 1.2;
	}
}

.body:before {
	content: '';
	display: block;
	position: absolute;
	top: -50px;
	right: -60px;
	bottom: 0;
	left: 0;
	opacity: 0.05;
	background-position: right top;
	background-size: contain;
	background-repeat: no-repeat;
}

.container .body:before {
	background-image: url(../images/callcenter.svg);
}

.footer:last-child {
	padding: 0;
}

.footer {
	button {
		width: 100%;
	}
}
