@import '../../config/styles.config.styl';

.tab {
	display: flex;
	cursor: default;
	line-height: 1.43;
	font-weight: bold;
	position: relative;
	margin-left: 22px;
	margin-right: 22px;
	align-items: center;
	white-space: nowrap;
	color: #999898;
	text-transform: uppercase;
	padding-bottom: 8px;
	margin-top: 20px;
	text-decoration: none;
	transition: get-transition(color);

	&:after {
		left: 0;
		bottom: 0;
		width: 100%;
		border-bottom: 3px solid transparent;
		content: '';
		display: block;
		position: absolute;
		background: transparent;
		transition: get-transition(background);
	}

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		@media screen {
			color: #002977;
		}
	}

	&_active {
		&, &:hover {
			@media screen {
				color: #27b031;
			}

			&:after {
				border-bottom-color: #27b031;
			}
		}
	}
}
