.container {
	background: #fff;
	border: 1px solid #e1e1e1;
	color: #515151;
	font-size: 16px;
	margin-right: 100px;
	margin-bottom: 20px;
	position: relative;
}

.t {
	flex-grow: 1;
	text-align: left;
}

.item {
	position: relative;
	line-height: 1.2;
}

.entered .item {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-left: -15px;
	margin-bottom: 15px;
	margin-right: -15px;
	padding-right: 45px;

	&_selected {
		background: #ebf0f3;
	}
}

.approved .item {
	padding-right: 45px;
	font-size: 15px;
	margin-bottom: 10px;
}

.group {
	border-radius: 4px;
	border: 1px solid #d0dae3;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}


.remove {
	position: absolute;
	right: 20px;
	line-height: 1;
	top: 50%;
	color: red;
	transform: translateY(-50%);
}


.approved .remove {
	right: 0;
}


.entered {
	padding-top: 5px;
}

.approved {
	padding-top: 15px;
}


.searchIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.toggleIcon {
	width: 15px;
	color: #999999;
}

@media (min-width: 992px) {
	.container {
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			background-color: #e1e1e1;
			width: 1px;
		}
	}
}

