.container {
	background: #ffffff;
	padding: 20px;


	&_collapsed {
		width: 70px;

		.menuGroup {
			.link {
				display: none;
			}
		}
		.subMenu {
			display: none;
		}

		.togglerButton {
			display: none;
		}
		.togglerIcon {
			transform: rotate(-90deg);
		}
	}
}

.toggler {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	cursor: pointer;

	&Icon {
		width: 12px;
		transform: rotate(90deg);
		color: #999;
	}

	&Button {
		margin-left: 30px;
		font-weight: bold;
		font-size: 14px;
		color: #999;
	}
}
.menuGroup {
	display: flex;
	align-items: center;
	padding: 10px 0;
	position: relative;

	.link {
		font-size: 18px;
		line-height: 1;
		background: transparent;
		white-space: nowrap;
		margin-left: 15px;
		padding-left: 0;
	}

	.togglerIcon {
		transform: none;
		color: #000;
		margin-left: 10px;
	}
}

.menuItem {
	position: relative;
	padding-right: 0;
	margin-bottom: 10px;

	&_active {
		.menuGroup {
			color: #27b031;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -20px;
				top: 0;
				bottom: 0;
				background-color: #27b031;
				width: 4px;
			}
			a {
				color: #27b031;
			}

			.togglerIcon {
				color: inherit;
			}
		}
	}
}

.icon {
	width: 28px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.link {
	font-size: 16px;
	position: relative;
	display: inline-block;
	line-height: 1.4;

	a {
		color: #2c2c2c;
		text-decoration: none;
	}
}

.badge {
	background: #27b031;
	border-radius: 50%;
	width: 21px;
	height: 21px;
	display: flex;
	justify-content: center;
	color: #fff;
	overflow: hidden;
	font-size 14px;
	align-items: center;
	position: absolute;
	right: -22px;
	top: -5px;
}

