.wrapper {
	border: 1px solid #e1e1e1;
	border-radius: 0;
	overflow: hidden;
}

.container {
	width: 100%;
	background-color: #FFFFFF;
}

.head {
	font-weight: normal;
	background-color: #f8f9fb;
	color: #999898;
	white-space: nowrap;
	font-size: 13px;
	line-height: 1.5;
	text-transform: uppercase;
}

.body {
	color: #000000;
	font-size: 14px;
	line-height: 1.43;
}

.row:not(:last-child) {
	.cell {
		border-bottom: 1px solid #e1e1e1;
	}
}

.cell {
	box-sizing: border-box;
	font-family: 'helveticaneuecyrlight';
	padding: 20px 17px 20px 17px;
	vertical-align: middle;
	line-height: 1.4;
	font-size: 16px;

	&_isInHead {
		padding-top: 33px;
		font-size: 13px;
		font-family: 'helveticaneuecyrmedium';
		padding-bottom: 20px;
	}

	a {
		font-family: 'helveticaneuecyrmedium';
		font-size: 16px;
	}
}
