.list {
	position: relative;
	padding-left: 40px;
	min-height: 100px;
}

.row {
	display: flex;
	align-items: center;
}

.icon {
	position: absolute;
	left: 0;
	top: 0;
}

.value {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}
