.container {
	width: 369px;
}

.header {
	background: #27b031;
	color: #fff;
	font-family: 'helveticaneuecyr';
	font-weight: 300;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	display: flex;
}


.body {
	padding: 30px 15px;
}

.footer {
	padding: 15px;
	/*justify-content: space-between;*/
}
