.body {
	text-align: center;
	font-size: 20px;
}

.selected {
	font-size: 1.5em;
	flex-grow: 1;
	justify-content: flex-end;
	display: flex;
}

.countAvailable 	{
	font-size: 2.2em;
	margin-bottom: 20px;
}

.label {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.hint {
	font-size: 0.75em;
	text-transform: uppercase;
	color: #d5dad5;
	font-weight: bold;
}
