@import '../../config/styles.config.styl';
@require '~@devexperts/react-kit/dist/components/Popover/Popover.styl';
@require '~@devexperts/react-kit/dist/components/Popover/Popover.mixin.styl';

Popover(container, 8px, #ffffff);

.container {
	z-index: 20;
}

.content {
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 9px 27px 0 rgba(10, 6, 21, 0.1);
}
