@require '~config';

.container {
	position: absolute;
	left: $grid-gutter-width;
	z-index: 2;
}

.icon {
	width: 21px;
	height: 16px;
}

@media (min-width: 992px) {
	.container {
		display: none;
	}
}
