@require '~config';

.container {
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
	display: flex;
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	align-items: center;
	box-sizing: border-box;
	padding-left: 280px;
	min-height: 110px;
	padding-right: $grid-gutter-width;
	justify-content: flex-end;
}

.logo {
	position: absolute;
	left: 60px;
	top: 15px;
}

.suggest {
	flex-shrink: 0;
	flex-grow: 1;
	margin-right: 50px;
}

.balanceInfo {
	margin-left: 28px;
	margin-right: 40px;
}

.refLink {
	margin-right: 140px;
	&Label {
		text-transform: uppercase;
		color: #999999;
		font-size: 13px;
	}
}
@media (min-width: 992px) {
	.container {
		position: relative;
	}
	.logo {
		left: 15px;
	}
}
