.container {
	margin-top: 20px;
}

.header {
	background-color: #27b031;
	color: #fff;
	padding-left: 32px;
	padding-right: 32px;
	font-size: 18px;
	font-family: 'helveticaneuecyrroman';
}

.body {
	padding-left: 12px;
	padding-right: 12px;
}

.footer {
	background: #f8f9fb;
	padding: 20px 29px;
}

@media (min-width: 992px) {
	.container {
		margin-top: 0px;
	}
}
