.row {
	display: flex;

	a {
		&,
		&:hover {
			color: #fff;
		}
	}
}

.label {
	font-weight: bold;
	font-family: 'helveticaneuecyr';
	color: #b3f0b7;
	text-transform: uppercase;
	font-size: 15px;
	flex-grow: 1;
	text-align: left;
}

.counter {
	display: flex;
	line-height: 1.4;
	flex-direction: column;
	align-items: flex-start;
}

.total {
	font-family: 'helveticaneuecyrmedium';
	font-size: 15px;
	color: #b3f0b7;
}
.unloaded {
	font-size: 24px;
	font-family: 'helveticaneuecyrlight';
}

.footerInner {
	display: flex;
	align-items: center;
}

.footerHintText {
	flex-grow: 1;
	line-height: 1.2;
	color: #2c2c2c;
	font-size: 15px;
	text-align: left;
	margin-right: 10px;
}
@media (min-width: 768px) {
	.label {
		margin-right: 50px;
	}

	.rows {
		display: flex;
		align-items: flex-start;
	}

	.row {
		&:last-child {
			flex-grow: 1;
		}
		a {
			margin-left: auto;
		}
	}
}

@media (min-width: 992px) {
	.rows {
		display: block;
	}
	.label {
		margin-right: 0;
	}

	.row {
		a {
			margin: 0 auto;
		}
	}
}
