@import '../../config/styles.config.styl';
@require '~@devexperts/react-kit/dist/components/ButtonIcon/ButtonIcon.styl';

.container {
	border: 0;
	outline: 0;
	padding: 0;
	width: auto;

	font-size: inherit;
	border-radius: 0;
	height: auto;

	&, &:hover, &:active, &:disabled {
		background: transparent;
		border: 0;
		outline: 0;
		box-shadow: none;
	}
}

.icon {
	height: 1.2em;
	width: 1.2em;
}

:global(.isSafari) .container {
	transition: get-transition(color, opacity, background-color, border-color);
}
