.container {
	max-width: 300px;
	&_isCustom {
		border-color: #27b031;

		.header {
			font-weight: normal;
			font-family: 'helveticaneuecyrroman';
		}

		.body {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.body {
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;

	ul {
		margin-bottom: 0;
		line-height: 1;
	}

	ul li {

		& + li {
			margin-top: 15px;
		}

		position: relative;
		padding-left: 20px;

		&:before {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			position: absolute;
			border-radius: 50%;
			background-color: #27b031;
			transform: translateY(-50%);
			top: 50%;
			left: 0;
		}
	}
}

.discount {
	background-color: rgb(255, 188, 0);
	position: absolute;
	width: 63px;
	height: 26px;
	font-size: 16px;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box
	padding-right: 10px;
	align-items: center;
	right: 0;
	line-height: 1px;
	border-radius: 5px 0 0 5px;
	bottom: 23px;
}

.header {
	padding-left: 70px;
	padding-right: 70px;
	line-height: 1.2;
	font-size: 18px;
}

.footer {
	padding-bottom: 15px;
}
