.container {
	&_isCustom {
		border-color: #27b031;

		.body {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.body {
	ul li {
		& + li {
			margin-top: 20px;
		}
		position: relative;
		padding-left: 20px;

		&:before {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			position: absolute;
			border-radius: 50%;
			background-color: #27b031;
			transform: translateY(-50%);
			top: 50%;
			left: 0;
		}
	}
}

.discount {
	background-color: rgb(255, 188, 0);
	position: absolute;
	width: 63px;
	height: 26px;
	font-size: 16px;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box
	padding-right: 10px;
	align-items: center;
	right: 0;
	line-height: 1px;
	border-radius: 5px 0 0 5px;
	bottom: 23px;
}
