.comment {
	padding-left: 25px;
	position: relative;
}

.commentIcon {
	width: 20px;
	position: absolute;
	left: 0;
	top: 0;
	height: 20px;
	display: inline-block;
}

@media (min-width: 576px) {
	.comment {
		padding-left: 0;
	}
}
