.container {
	display: flex;
	background-color: #fff;
	align-items: center;
	border: 1px solid #e1e1e1;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 15px;
}


.item {
	margin-right: 2.45%;
	margin-bottom: 30px;
}

.title {
	color: #7c7c7c;
	font-family: 'helveticaneuecyr';
	font-weight: 300;
	font-size: 18px;
	position: relative;
	margin-bottom: 20px;
}

.value {
	font-size: 21px;
	font-family: 'helveticaneuecyrmedium'
	color: #2c2c2c;
}

@media all and (min-width: 1280px) {
	.item {
		margin-bottom: 0;
		position: relative;

		&:not(:last-child):after {
			content: '';
			display: block;
			position: absolute;
			width: 1px;
			top: -15px;
			bottom: -15px;
			right: -15px;
			background-color: #e1e1e1;
		}
	}
}

@media all and (min-width: 1000px) {

	.title {
		padding-left: 20px;
		&:before {
			content: '';
			dispaly: block;
			position: absolute;
			border-radius: 50%;
			width: 8px;
			height: 8px;
			left: 0;
			top: 50%;
			margin-top: -4px;
			background-color: #27b031;
		}
	}

	.value {
		margin-left: 20px;
	}
}
