.container {
	border-radius: 10px;
	background-color: #fff;
	max-width: 300px;
	flex-shrink: 0;
	height: 315px;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	padding: 25px 23px;
	margin-bottom: 30px;

	&_isChecked {
		box-shadow: 0 0 81px 0 rgba(#22b031, .24);
	}

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.image {
	height: 196px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.title {
	font-family: 'helveticaneuecyrroman';
	font-size: 19px;
}

.body {
	font-size: 16px;
	margin-top: 10px;
	font-family: 'helveticaneuecyrlight';
	color: #999898;
}
