.container {
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fff;

	&_isMain {
		.header {
			font-size: 20px;
			color: #2c2c2c;
		}
	}
}

.header {
	font-size: 22px;
	font-family: 'helveticaneuecyrroman';
}

.body {
	font-size: 16px;
	line-height: 26px;
	overflow: hidden;
	color: #2c2c2c;

	p + p {
		margin-top: 20px;
	}

	h2 {
		font-size: 22px;
		color: #2c2c2c;
		margin-bottom: 26px;
	}
	:global {
		*[class$="-copyright"] {
			display: none !important;
		}
	}
}

.container_isMain {
	border: 0;
	background: transparent;
	position: relative;
	padding: 0;
	margin-bottom: 50px;

	.header {
		font-size: 44px;
		line-height: 1;
		font-family: 'helveticaneuecyrlight';
		margin-bottom: 60px;

		h2 {
			font-size: 24px;
			font-family: 'helveticaneuecyrroman';
		}
	}
}
