.container {
	background: #fff;
	padding: 20px 15px;
	border: 1px solid #e1e1e1;
	border-radius: 10px 10px 0 0;
	border-bottom: 0;
}

.controls {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.range {
	display: flex;
	align-items: center;

	&Delimeter {
		border-top: 1px solid #d0dae3;
		margin: 0 10px;
		width: 16px;
	}

	&Input {
		width: 120px;
	}
}

.pager {
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	&Title {
		margin-bottom: 0;
	}
}
