.container {
	:global {
		.alert {
			border-radius: 0;
			background-color: #f8f9fb;
			border: 0;
			margin-left: -30px;
			margin-right: -30px;
			padding-left: 30px;
			margin-top: 20px;
			padding-right: 30px;
		}
	}
}

.list {
	li {
		display: flex;
		align-items: center;
		line-height: 1.2;
		font-family: 'helveticaneuecyr';
		font-weight: 300;

		+ li {
			margin-top: 10px;
		}

		div:first-child {
			width: 80%;
		}
	}
}
