.container {
	:global {
		.alert {
			margin-left: -30px;
			margin-right: -30px;
			margin-top: 20px;

			padding: 20px 30px;
		}
	}
}

.balance {
	display: flex;
	align-items: center;
	line-height: 1;
	margin: 20px 0;
}

.balanceLabel {
	color: #cecdcd;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 20px;
}

.currency {
	font-size: 24px;
	margin: 0 20px;
}

.summ {
	font-size: 40px;
	font-weight: bold;
}
