.container {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column
	margin: 0 auto;
}

.wrapper {
	display: flex;
	width: 100%;
	flex-grow: 1;
	align-items: stretch;
	padding-top: 110px;
}

.content {
	width: 100%;
	box-sizing: border-box;
	transition: all 0.3s;
}

@media (min-width: 992px) {
	.wrapper {
		padding-top: 0
	}
}
