.container {
	position: relative;
	height: 100%;
	max-width: 1600px;
	display: flex;
	flex-direction: column
	margin: 0 auto;
}

.wrapper {
	display: flex;
	width: 100%;
	flex-grow: 1;
	align-items: stretch;
}

.content {
	width: 100%;
	box-sizing: border-box;
	transition: all 0.3s;
}
