.container {
	border: 0;
	padding: 0;
}

.item {
	margin-bottom: 20px;
	margin-right: 35px;

	&:after {
		content: none !important;
	}
}

.title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #7c7c7c;
	padding-left: 0;
	margin-bottom: 0;

	&:before {
		content: none !important;
	}
}

.value {
	margin-left: 0;
	font-size: 21px;
	font-family: 'helveticaneuecyrmedium'
	color: #2c2c2c;
}
