.container {
	margin-top: 20px;
}

.controls {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;

	button {
		margin-left: 30px;
		fill: #27b031;
	}
}

.adress {
	font-size: 24px;
	margin-bottom: 50px;
	position: relative;
	display: flex;
}

.adressIcon {
	width: 16px;
	margin-right: 10px;
	color: #27b031;
}
