@require '~@devexperts/react-kit/dist/components/Checkbox/Checkbox.styl';

$checkbox-on = #27b031;
$checkbox-off = #d0dae3;

.container {
	display: inline-flex;
	user-select: none;
	align-items: center;
	margin-bottom: 0;

	.view {
		display: flex;
	}

	.icon {
		display: flex;
	}
}

.checkboxContainer {
	width: 22px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text {
	line-height: 1.2;
	font-size: 16px;
	text-align: left;
}

.icon {
	color: #fff;
}

.view {
	width: 22px;
	height: 22px;
	display: flex;
	border: 1px solid;
	align-items: center;
	border-color: $checkbox-off;
	background-color: transparent;
	transition: get-transition(border-color, background-color);

	&_isChecked {
		border-color: transparent;
		background-color: $checkbox-on;

		&:hover {
			border-color: transparent;
			background-color: $checkbox-on-hover;
		}
	}

	&_isDisabled {
		background-color: #eee;

		&, &:hover {
			border-color: $checkbox-off-disabled;
		}
	}

	&_isCheckedDisabled {
		&, &:hover {
			border-color: transparent;
			background-color: $checkbox-on-disabled;
		}
	}
}

.text {
	margin-left: 8px;
}
